

.resume {
    display:grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    /* box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.35); */
    grid-template-areas:
    
        "name       name        links"
        "overview   expertise   education"
        "skills     skills      skills"
        "work       work        work"
        ;
        grid-gap: 5px;
}

.grid-area {
    padding: 1em 1em 1em 1em;
}

.name {

    grid-area: name;
}


.name h1 {
    margin:0;
    padding:0;
    font-size:2em;
    color:#2E4053;
}

h2 {
    margin:0;
    padding:0;
    font-size: 1.5em;
    color:#2E4053;
}

h3 {
    margin:0;
    padding:0;
    font-size: 1em;
    color:#2E4053;
}


ul {
    list-style-type: circle;
    margin-left:1.5em;
    margin-top:0;
    padding:0;    
}

p {
    margin:0;
    padding-bottom:10px;
}

.linksWrapper {
    padding-top:3px;
    display:grid;
    grid: auto auto auto/ auto auto;
    grid-gap: 5px;
}

.links {
    grid-area: links;

}

.links ul {
    list-style-type: none;
}

.education {

    grid-area: education;
}

.skills {

    grid-area: skills;
}

.overview {

    grid-area: overview;
}


.expertise {

    grid-area: expertise;
}

.work {

    grid-area: work;
}

.exp_subhead {
    font-style: italic;
    color:#808B96;

}

.fab {
    margin-right:4px;
}

.fas {
    margin-right:4px;
}

.resume-wrapper {
    padding       : 0;
    display       : flex;
    flex-direction: clumn;
    align-items   : center;
}


    @media (max-width: 1100px) {
        .resume {
            grid-template-columns: 1.25fr 1fr;
            grid-template-rows: auto auto auto auto auto;
            grid-template-areas:
                "name       links"
                "overview   expertise"
                "skills     skills"
                "work       work"
                "education  education"
            }  
    
            .name p {
                font-size:1.25em;
            }
    
    }

        @media (max-width: 700px) {
            .resume {
                grid-template-columns:1fr;
                grid-template-areas:
                
                    "name"
                    "links"
                    "overview"
                    "expertise"
                    "skills"
                    "work"
                    "education"
                    ;
            }

            .grid-area {
                padding: 1em 1em 1em 1em;
                border-bottom: .1px solid black;
            }

                .linksWrapper {
                    padding-top:3px;
                    display:grid;
                    grid: auto auto/ auto auto auto;
                    grid-gap: 5px;
                }          


        }
