header {
  margin: 0 auto;
  width:75%;
}

.navigation {
    /* position:-webkit-sticky; */
    position:fixed;
    width:75%;
    top:0;
    height:4rem;
    border-bottom: 10px solid var(--second-bg-color);
    z-index: 1;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background: rgba(144, 238, 144, 1);
    font-size:1rem;
  }
  
  .navigation ul {
    display:flex;
    flex-flow: row nowrap;
    list-style-type: none;
  }
  
  .right-nav li {
    display:inline-block;
    padding:1vh 1vw;
  }
  
  .navigation li:hover {
    background-color: lightgreen; /* For browsers that do not support gradients */
    background-image: linear-gradient(var(--second-bg-color), var(--main-bg-color)); /* Standard syntax (must be last) */
  }
  
  .navigation .title:hover {
    background: rgba(0, 0, 0, 0);
  }
  
  .nav-name {
     font-size: 1.45rem;
     font-weight: 600;
  }
  
  .left-nav a {
     text-decoration: none;
  }
  
  .navigation .nav-name:hover {
     background: rgba(0, 0, 0, 0)
  }