

/* PROJECTS */

#projects {
  padding-top: 3rem;
}

.story-headline {
    text-align:center;
    margin-bottom:1vh;
    font-size:4vw;
    font-weight: 100;
  }

.story-detail {
    padding:0 1rem;
    margin:0 auto;
    width:80%;
  }

  .story-detail-left, .story-detail-right {
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .story-detail-right {

  }
  
  
  .story-image {
    margin-top:0.5rem;
    min-width:35vw;
    object-fit: cover;

  }
  
  .story-image:hover {
  
  }
  
  .story-detail-text {
    padding: 1rem 0 0 2rem;
    font-size:2rem;
  }
  
  /* .story h2 {
    margin-bottom:1vh;
    font-size:4vw;
    font-weight: 100;
  } */
  
  span {
    font-weight: 600;
  }
  
 
  
  .technologies {
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    border-top:1px solid black;
    border-bottom:1px solid black;
    margin:0.5rem 0;
  }

  .tech-headings {
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  .technologies li {
    margin-left:1rem;
    list-style-type: none;    
  }
  
  .technologies a {
    text-decoration: none;
  }
  
  
  .js {
    color: var(--js-color)
  }
  
  .html5 {
    color: var(--html5-color)
  }
  
  .css3 {
    color: var(--css3-color)
  }
  
  .mission {
    font-size:1rem;
  }